* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#banner_section {
  background-image: url(../IMG/mrbinz-women-9152739_1920.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
